$font-stack: Calibri, sans-serif;
$primary-color: #ffb342;
$secondary-color: firebrick;
$primary-dark: #000;
$secondary-dark: #000;
$primary-light: rgb(250, 249, 246);
$secondary-light: rgb(225, 225, 225);

// MIX IN EXAMPLE
// @mixin headerAlign($align: left) {
//     display: flex;
//     text-align: $align;
// }
// @include headerAlign;

// NESTING EXAMPLE
// .header-nav {
// 	>a {
// 		font-size: .9rem;
// 		padding-right: 10px;
// 		text-decoration: none;
// 		transition: all 0.5s;
// 		-webkit-transition: all 0.5s;
// 		&:link {
// 			color: #000;
// 		}
// 		&:visited {
// 			color: rgb(56, 40, 40);
// 		}
// 		&:active {
// 			font-size: 0.95rem;
// 		}
// 	}
// }

// EXTENSION EXAMPLE
// %parallax-menu-hero {
//     // code
// }
// @extend %parallax-menu-hero;

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: $font-stack;
}
/* TAB MENU */
.nav {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  overflow: hidden;
  background-color: $primary-dark;  
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;
}

.nav a {
  float: left;
  display: block;
  color: $primary-light;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

.nav a:hover{
  background-color: $primary-color;
  color: $primary-dark;
}

.nav a.active{
  background-color: $primary-color;
  color: $primary-dark;
}

/* CONTENT */
.tabcontent {
    display: none;
    padding: 1rem 2rem;
    color: white;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    min-height: calc(100vh - 46px);
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}
/* Go from zero to full opacity */
@keyframes fadeEffect {
from {opacity: 0;}
to {opacity: 1;}
}
.tab-header {
  margin: 1rem;
  font-size: 2rem;
  text-align: center;
}

.tab-sub-header {
  margin: 1rem auto;
  width: 70%;
  font-size: 1rem;
  text-align: center;
}
/* TAB 1 */

#queueDiv {
  border: #000 1px solid;
  min-height: min-content;
  max-height: 60vh;
  margin: 1rem auto;
  width: 70%;
  overflow-x: hidden;
  overflow-y: auto;
}
#queueList {
  display: grid;
  grid-template-rows: 60px;
  grid-auto-rows: 60px;
}
.queue-list-item {
  list-style: none;
  background-color: aliceblue;
  color: black;
  border: #000 1px solid;
  padding: .75rem 0 .75rem .75rem;
  text-align: left;

  display: grid;
  grid-template-columns: 80% 20%;
  align-items: center;
}
.queue-status {
  margin: 0 auto;
}
.song-artist {
  font-style: italic;
  padding-top: .1rem;
}
#list-item-4 {
    pointer-events: none;
    opacity: 0.5;
}
/* TAB 2 */
#searchForm {
  width: 70%;
  margin: 1rem auto;
  text-align: center;
}
/* TAB 3 */
#insta-div {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
/* TAB 4 */
#githubContainer {
  width: auto;
  margin: 0 auto;
  text-align: center;
}

/* LIGHT/DARK THEME TOGGLE */

.theme {
  display: flex;
  align-items: center;
}
/* TOGGLE BUTTON */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 34px;
  }
  
          /* Hide default HTML checkbox */
  .switch input {
  opacity: 0;
  width: 0;
  height: 0;
  }

/* The slider */
.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
/* transition to blue color once checked */
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}
                        /* transition of switch background color */
input:checked + .slider {
/* background-color: #2196F3; */
background-color: #2e2e2e;
}

input:focus + .slider {
/* box-shadow: 0 0 1px #2196F3; */
box-shadow: 0 0 1px #2e2e2e;
}
                        /* transition of .slider:before - the toggle switch circle */
input:checked + .slider:before {
-webkit-transform: translateX(17px);
-ms-transform: translateX(17px);
transform: translateX(17px);
}

/* Rounded sliders */
.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}

#light-toggle-text,
#dark-toggle-text {
    text-align: center;
}

/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
  .nav  {
    min-height: 25vh;
  }
  #queueDiv {
    width: 50%;
  }
}