$font-stack: Calibri, sans-serif;
$primary-color: #ffb342;
$secondary-color: firebrick;
$primary-dark: #000;
$secondary-dark: #000;
$primary-light: rgb(250, 249, 246);
$secondary-light: rgb(225, 225, 225);

// MIX IN EXAMPLE
// @mixin headerAlign($align: left) {
//     display: flex;
//     text-align: $align;
// }
// @include headerAlign;

// NESTING EXAMPLE
// .header-nav {
// 	>a {
// 		font-size: .9rem;
// 		padding-right: 10px;
// 		text-decoration: none;
// 		transition: all 0.5s;
// 		-webkit-transition: all 0.5s;
// 		&:link {
// 			color: #000;
// 		}
// 		&:visited {
// 			color: rgb(56, 40, 40);
// 		}
// 		&:active {
// 			font-size: 0.95rem;
// 		}
// 	}
// }

// EXTENSION EXAMPLE
// %parallax-menu-hero {
//     // code
// }
// @extend %parallax-menu-hero;

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: $font-stack;
}
/* TAB MENU */
.nav {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  overflow: hidden;
  background-color: $primary-dark;  
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;
}

.nav a {
  float: left;
  display: block;
  color: $primary-light;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav a:hover{
  background-color: $primary-color;
  color: $primary-dark;
}

.nav a.active{
  background-color: $primary-color;
  color: $primary-dark;
}

/* CONTENT */
.tabcontent {
    display: none;
    padding: 1rem 2rem;
    color: white;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    min-height: calc(100vh - 48px);
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}
/* Go from zero to full opacity */
@keyframes fadeEffect {
from {opacity: 0;}
to {opacity: 1;}
}
.tab-header {
  margin: 1rem;
  font-size: 2rem;
  text-align: center;
}

.tab-header ~ * {
  margin: 1rem auto;
  width: 70%;
  font-size: 1rem;
  text-align: center;
}
/* TAB 1 */
/* TAB 2 */
/* TAB 3 */
/* TAB 4 */
.link-github {
  text-align: end;
}
// @media screen and (max-width: 600px) {
//   .tabcontent  {
//     min-height: calc(100vh - 78px);
//   }
// }